h1,h2,#imag {
  color : #fff;
  font-family:'Playfair Display','Scope One',Arial, Helvetica, sans-serif;
}
h1 {
  font-size : 60px;
}
h2,#img {
  font-family : Scope  One;
  font-size : 42px;
  color : #2c3e50;
}
#chTemp {
  font-size : 100px;
  color : #880E4F;
}
#city {
  font-size : 50px;
  color: #C2185B;
}
img {
  opacity : 0.;

}
.ml9 {
  position: relative;
  font-weight: 200;
  font-size: 4em;
}

.ml9 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml9 .letter {
  transform-origin: 50% 100%;
  display: inline-block;
  line-height: 1em;
}