h1,h2,#imag {
  color : #fff;
  font-family:'Playfair Display','Scope One',Arial, Helvetica, sans-serif;
}
h1 {
  font-size : 60px;
}

.end-line
{
font-size:10px;
font-family: 'Roboto Slab', serif;
}
h4
{
font-size:10px;
font-family: 'Roboto Slab', serif;
}
h2,#img {
  font-family : Scope  One;
  font-size : 42px;
  color : #2c3e50;
}
#chTemp {
  font-size : 100px;
  color : #880E4F;
}
#city {
  font-size : 50px;
  color: #C2185B;
}

img {
  opacity : 0.;

}
.ml9 {
  position: relative;
  font-weight: 200;
  font-size: 4em;
}

.ml9 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml9 .letter {
  transform-origin: 50% 100%;
  display: inline-block;
  line-height: 1em;
}
.fa {
    padding: 20px;
    font-size: 25px;
    width: 40px;
    text-align: center;
    text-decoration: none;
}
.fa-github {
  color: white;
}
.loader{
  width:95px;
  height:95px;
  border-radius:50%;
  border:0px solid;
  margin:40px auto;

  /*background:rgba(50,22,32,1);
  color:rgba(100,45,64,1);*/
  background:#FFC300;
  color:#f1c40f;
  
  animation: fill linear 3s infinite,
             load linear 3s infinite;

  /*box-shadow:  0 -70px 1px -41px,
            35px -60px 1px -41px,
            60px -35px 1px -41px,
                70px 0 1px -41px,
             60px 35px 1px -41px,
             35px 60px 1px -41px,
                0 70px 1px -41px,
            -35px 60px 1px -41px,
            -60px 35px 1px -41px,
               -70px 0 1px -41px,
           -60px -35px 1px -41px,
           -35px -60px 1px -41px;*/
}

@keyframes load{
  0%{  box-shadow:0 -70px 1px -41px,
            35px -60px 1px -41px,
            60px -35px 1px -41px,
                70px 0 1px -41px,
             60px 35px 1px -41px,
             35px 60px 1px -41px,
                0 70px 1px -41px,
            -35px 60px 1px -41px,
            -60px 35px 1px -41px,
               -70px 0 1px -41px,
           -60px -35px 1px -41px,
                   0 0 22px -3px; /*-35px -60px 1px -41px;*/
  }
  9%{  box-shadow:
            /*0 -70px 10px -41px,*/0 0 22px -3px,
            35px -60px 1px -41px,
            60px -35px 1px -41px,
                70px 0 1px -41px,
             60px 35px 1px -41px,
             35px 60px 1px -41px,
                0 70px 1px -41px,
            -35px 60px 1px -41px,
            -60px 35px 1px -41px,
               -70px 0 1px -41px,
           -60px -35px 1px -41px,
           -35px -60px 1px -41px;
  }
  18%{box-shadow:0 -70px 1px -41px,
          /*35px -60px 1px -41px,*/0 0 22px -3px,
            60px -35px 1px -41px,
                70px 0 1px -41px,
             60px 35px 1px -41px,
             35px 60px 1px -41px,
                0 70px 1px -41px,
            -35px 60px 1px -41px,
            -60px 35px 1px -41px,
               -70px 0 1px -41px,
           -60px -35px 1px -41px,
           -35px -60px 1px -41px;
  }
  27%{box-shadow:0 -70px 1px -41px,
            35px -60px 1px -41px,
          /*60px -35px 1px -41px,*/0 0 22px -3px,
                70px 0 1px -41px,
             60px 35px 1px -41px,
             35px 60px 1px -41px,
                0 70px 1px -41px,
            -35px 60px 1px -41px,
            -60px 35px 1px -41px,
               -70px 0 1px -41px,
           -60px -35px 1px -41px,
           -35px -60px 1px -41px;
  }
  36%{box-shadow:0 -70px 1px -41px,
            35px -60px 1px -41px,
            60px -35px 1px -41px,
              /*70px 0 1px -41px,*/0 0 22px -3px,
             60px 35px 1px -41px,
             35px 60px 1px -41px,
                0 70px 1px -41px,
            -35px 60px 1px -41px,
            -60px 35px 1px -41px,
               -70px 0 1px -41px,
           -60px -35px 1px -41px,
           -35px -60px 1px -41px;
  }
  45%{box-shadow:0 -70px 1px -41px,
            35px -60px 1px -41px,
            60px -35px 1px -41px,
                70px 0 1px -41px,
           /*60px 35px 1px -41px,*/0 0 22px -3px,
             35px 60px 1px -41px,
                0 70px 1px -41px,
            -35px 60px 1px -41px,
            -60px 35px 1px -41px,
               -70px 0 1px -41px,
           -60px -35px 1px -41px,
           -35px -60px 1px -41px;
  }
  55%{
    box-shadow:0 -70px 1px -41px,
            35px -60px 1px -41px,
            60px -35px 1px -41px,
                70px 0 1px -41px,
             60px 35px 1px -41px,
           /*35px 60px 1px -41px,*/0 0 22px -3px,
                0 70px 1px -41px,
            -35px 60px 1px -41px,
            -60px 35px 1px -41px,
               -70px 0 1px -41px,
           -60px -35px 1px -41px,
           -35px -60px 1px -41px;
  }
  64%{
    box-shadow:0 -70px 1px -41px,
            35px -60px 1px -41px,
            60px -35px 1px -41px,
                70px 0 1px -41px,
             60px 35px 1px -41px,
             35px 60px 1px -41px,
              /*0 70px 1px -41px,*/0 0 22px -3px,
            -35px 60px 1px -41px,
            -60px 35px 1px -41px,
               -70px 0 1px -41px,
           -60px -35px 1px -41px,
           -35px -60px 1px -41px;
  
  }
  73%{
    box-shadow:0 -70px 1px -41px,
            35px -60px 1px -41px,
            60px -35px 1px -41px,
                70px 0 1px -41px,
             60px 35px 1px -41px,
             35px 60px 1px -41px,
                0 70px 1px -41px,
          /*-35px 60px 1px -41px,*/0 0 22px -3px,
            -60px 35px 1px -41px,
               -70px 0 1px -41px,
           -60px -35px 1px -41px,
           -35px -60px 1px -41px;
  }
  82%{
    box-shadow:0 -70px 1px -41px,
            35px -60px 1px -41px,
            60px -35px 1px -41px,
                70px 0 1px -41px,
             60px 35px 1px -41px,
             35px 60px 1px -41px,
                0 70px 1px -41px,
            -35px 60px 1px -41px,
          /*-60px 35px 1px -41px,*/0 0 22px -3px,
               -70px 0 1px -41px,
           -60px -35px 1px -41px,
           -35px -60px 1px -41px;
  }
  91%{
    box-shadow:0 -70px 1px -41px,
            35px -60px 1px -41px,
            60px -35px 1px -41px,
                70px 0 1px -41px,
             60px 35px 1px -41px,
             35px 60px 1px -41px,
                0 70px 1px -41px,
            -35px 60px 1px -41px,
            -60px 35px 1px -41px,
             /*-70px 0 1px -41px,*/0 0 22px -3px,
           -60px -35px 1px -41px,
           -35px -60px 1px -41px;
  }
  100%{
    box-shadow:0 -70px 1px -41px,
            35px -60px 1px -41px,
            60px -35px 1px -41px,
                70px 0 1px -41px,
             60px 35px 1px -41px,
             35px 60px 1px -41px,
                0 70px 1px -41px,
            -35px 60px 1px -41px,
            -60px 35px 1px -41px,
               -70px 0 1px -41px,
         /*-60px -35px 1px -41px,*/0 0 22px -3px,
           -35px -60px 1px -41px;
  }
}

@keyframes fill{
  0%{
    transform: rotateZ(0deg);
  }
  100%{
    transform: rotateZ(30deg);
}


